<br/>
<div class="col-md-6 media">
  <img src="../../../assets/img/pink-panther-492x369.png" class="thumbnail img-fluid" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Betting streams</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
    faucibus.
  </div>
</div>
<br/>
<div class="col-md-6 media">
  <img src="../../../assets/img/pink-panther-492x369.png" class="thumbnail img-fluid" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Challenges</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
    faucibus.
  </div>
</div>
<br/>
<div class="col-md-6 media">
  <img src="../../../assets/img/pink-panther-492x369.png" class="thumbnail" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Betting</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
    faucibus.
  </div>
</div>
<br/>
<div class="col-md-6 media">
  <img src="../../../assets/img/pink-panther-492x369.png" class="thumbnail" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Games</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
    faucibus.
  </div>
</div>