.button-header {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.app-header {
    //position: fixed;
    top: 0;
  }

#profile-dropdown { 
    //for prevent profile-dropdown going behind right border
    right: 0 !important; 
    left: auto !important; 
}