.table-challenges{
    width: max;
    height: 500px;
}

.desc{
    float: right;
}

#dropdown-compare{
    right: 0px !important; 
    left: auto !important; 
}

.filters{
    margin-bottom: 30px;
}

.apply-btn{
    margin-top: 10px;
}

.create-card{
    min-width: 700px;
}